.page-enter-active, .page-leave-active {
    transition: opacity .3s;
  }
.page-enter, .page-leave-active {
    opacity: 0;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  /* font-family:微软雅黑; */
  box-sizing: border-box;
  transition: all .3s;
}

*:focus {
  outline: none;
}

*, *:before, *:after {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
em{
  font-style: normal;
}
ol, ul, li {

  padding: 0;
  margin: 0;
  display: block;

}

u, i {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0px;

}

fieldset, img {
  border: 0;

}

html {
  width: 100%;
  min-height: 100%;

}

body {
  width: 100%;
  position: absolute;
  font-size: 13px;
  background-color: #fff;
  overflow-x: auto;
  height: 100%;
}

a {
  color:#000;
  text-decoration: none;
}

a:link {

  text-decoration: none;
}

a:visited {

  text-decoration: none;
}

.f-cb{
  zoom: 1;
}

.f-cb:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.w1200{
  max-width: 1200px;
  margin: 0 auto;
}
@media  screen and (max-width: 768px){
  .el-container .el-dialog{
    width: 305px!important;
  }
}
.el-container .el-header{
  background-color: #fff;
}
.el-pagination button,.el-pagination li{
  background-color: transparent!important;
}
 .el-menu--horizontal{
  border-bottom: none!important;
}
#__nuxt,#__layout{
  display: flex;
  flex: auto;
  height: 100%;
  width: 100%;
}
/*::-webkit-scrollbar,
.slider::-webkit-scrollbar{
  width: 6px;     
  height: 1px;
}
::-webkit-scrollbar-thumb,
.slider::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: hsla(220,4%,58%,.3);
  transition: background-color .3s;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #f7fafc;
}
.slider::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #fafafa;
}*/
